/pythonTestingVenv/venv/

# Dependencies
/TRQ-frontend/node_modules/

# Build outputs
/TRQ-frontend/build/
/TRQ-frontend/dist/

# Backend Venv
/Backend/venv/

# Backend env file
/Backend/core/.env
/Backend/.env

# VS code debug launch.json file
/.vscode/launch.json

# Testing series return file
/Backend/series_1.json

